<!-- ======================================================================= -->

<!--
    File Name: person.html.erb
    Edited By: Penguinlay
    Assignment: HW2
    Course: CS 198 - Ruby on Rails - Fall 2017
    Start: 2017092602
    End: 2017092703
//-->

<!-- ======================================================================= -->

<h1>Name: </h1>
<%= @person.name %>
<br/>

<!-- ======================================================================= -->

<h1>Introduction: </h1>
<%= @person.introduction %>
<br/>

<!-- ======================================================================= -->

<h1>Nickname: </h1>
<%= @person.nickname %>
<br/>

<!-- ======================================================================= -->

<h1>Birth year: </h1>
<%= @person.birth_year %>
<br/>

<!-- ======================================================================= -->
